{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'OldMem' %} | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <section class="bg-light footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center g-padding-y-80--top">
                        <h2 class="section-heading text-uppercase">{% trans 'OldMem' %}</h2>
                        <h3 class="section-subheading text-muted">
                            {% trans 'TextMem' %}...
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for olmember in context_oldmembers %}
                <div class="col-md-3">
                    <div class="team-member">
                        <div class="floating-icon">
                            <a href="#modal_biography" class="open-modal_biography" data-toggle="modal" data-photo-profile="{{ olmember.image.url }}"
                                                                                                        data-name="{{ olmember }}"
                                                                                                        data-biography="{{ olmember.biography }}"
                                                                                                        data-phone="{{ olmember.phone }}"
                                                                                                        data-email="{{ olmember.email }}"
                                                                                                        data-lattes="{{ olmember.lattes }}"
                                                                                                        data-linkedin="{{ olmember.linkedin }}"
                                                                                                        data-orcid="{{ olmember.orcid }}"
                                                                                                        data-researchgate="{{ olmember.researchgate }}"
                                                                                                        data-title="{% trans 'Biography' %}">
                                <img class="mx-auto rounded-circle" src="{{ olmember.image.url }}">
                            </a>
                        </div>
                        <h5>
                            {{ olmember.degree }} {{ olmember }}
                            {% with 'img/flags/countries/'|add:olmember.country.code|lower|add:'.png' as image_static %}
                                <img src="{% static image_static %}" class="img-flag-team">
                            {% endwith %}
                        </h5>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                {% if olmember.email %}
                                <a href="#modal_information" class="open-modal_information" data-toggle="modal" data-email="{{ olmember.email }}" data-title="E-mail" data-icon="fas fa-envelope">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                {% else %}
                                <a href="#" class="disabled">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                {% endif %}
                            </li>
                            <li class="list-inline-item">
                                {% if olmember.linkedin %}
                                <a href="{{ olmember.linkedin }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                {% else %}
                                <a href="#" class="disabled">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                {% endif %}
                            </li>
                            <li class="list-inline-item lattes-buttons-alter">
                                {% if olmember.lattes %}
                                <a href="{{ olmember.lattes }}" target="_blank" rel="noopener noreferrer">
                                    <img src="{% static 'img/icons/lattes-white.png' %}">
                                </a>
                                {% else %}
                                <a href="#" class="disabled">
                                    <img src="{% static 'img/icons/lattes-white.png' %}">
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal: Biography -->
    <div class="modal fade" id="modal_biography" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="myModalLabel">
                        {% trans 'Biography' %}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row py-1">
                                <div class="col text-center">
                                    <img id="photo-profile" class="rounded-lg" width="85%" height="100%">
                                </div>
                            </div>
                            <div class="row py-1 text-center modal_b_text1">
                                <div class="col">
                                    <div id="mb-name"></div>
                                </div>
                            </div>
                            <div id="div-mb-email" class="row pt-1 pl-2">
                                <div class="col">
                                    <i class="fas fa-envelope"></i>
                                    <span id="mb-email" class="modal_b_text2"></span>
                                </div>
                            </div>
                            <div id="div-mb-phone" class="row pt-1 pl-2">
                                <div class="col">
                                    <i class="fas fa-phone"></i>
                                    <span id="mb-phone" class="modal_b_text2"></span>
                                </div>
                            </div>
                            <div class="row pb-3"></div>
                        </div>
                        <div class="col-md-8 modal_b_text1">
                            <div id="mb-biography"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="row py-1">
                                <div id="div-mb-social" class="col-t2-cus modal_b_text3">
                                    {% trans 'More information' %}: 
                                </div>
                                <div id="div-mb-lattes" class="col-t1-cus">
                                    <a id="mb-lattes" target="_blank" rel="noopener noreferrer">
                                        <img src="{% static 'img/icons/lattes.svg' %}" class="icon_academic">
                                    </a>
                                </div>
                                <div id="div-mb-researchgate" class="col-t1-cus">
                                    <a id="mb-researchgate" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-researchgate icon_academic_fawesome"></i>
                                    </a>
                                </div>
                                <div id="div-mb-orcid" class="col-t1-cus">
                                    <a id="mb-orcid" target="_blank" rel="noopener noreferrer">
                                        <img src="{% static 'img/icons/orcid.svg' %}" class="icon_academic">
                                    </a>
                                </div>
                                <div id="div-mb-linkedin" class="col-t1-cus">
                                    <a id="mb-linkedin" target="_blank" rel="noopener noreferrer">
                                        <i class="fab fa-linkedin  icon_academic_fawesome"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mx-auto" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>&nbsp;{% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: Other Informations -->
    <div class="modal fade" id="modal_information" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="myModalLabel">
                        <div id="infotitle"></div>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <div class="row">
                                    <a href="#" class="disabled">
                                        <i id="infoicon" class="fas fa-info"></i>
                                    </a>
                                    <div class="g-margin-t-10--xs g-margin-l-10--xs">
                                        <div id="information"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="g-margin-t-10--xs g-margin-l-10--xs">
                            <div id="biography"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mx-auto" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>&nbsp;{% trans 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptplus %}
    <script>
        // Team: Biography
        $(document).on("click", ".open-modal_biography", function () {
            var _not_registered = "{% trans 'NotReg' %}";
            var _photo_profile = $(this).data('photo-profile');
            var _name = $(this).data('name');
            var _biography = $(this).data('biography');
            var _phone = $(this).data('phone');
            var _email = $(this).data('email');
            var _lattes = $(this).data('lattes');
            var _researchgate = $(this).data('researchgate');
            var _orcid = $(this).data('orcid');
            var _linkedin = $(this).data('linkedin');

            $(".modal-body #photo-profile").attr('src', '');
            $(".modal-body #photo-profile").attr('src', _photo_profile);

            $(".modal-body #mb-name").text(_name);

            if (_biography) {
                $(".modal-body #mb-biography").text(_biography);
            } else {
                $(".modal-body #mb-biography").text(_not_registered);
            }

            if (_phone) {
                $(".modal-body #mb-phone").text(_phone);
                $(".modal-body #div-mb-phone").show();
            } else {
                $(".modal-body #div-mb-phone").hide();
            }
            if (_email) {
                $(".modal-body #mb-email").text(_email);
                $(".modal-body #div-mb-email").show();
            } else {
                $(".modal-body #div-mb-email").hide();
            }
            if (_lattes) {
                $(".modal-body #mb-lattes").attr('href', _lattes);
                $(".modal-body #div-mb-lattes").show();
            } else {
                $(".modal-body #div-mb-lattes").hide();
            }
            if (_researchgate) {
                $(".modal-body #mb-researchgate").attr('href', _researchgate);
                $(".modal-body #div-mb-researchgate").show();
            } else {
                $(".modal-body #div-mb-researchgate").hide();
            }
            if (_orcid) {
                $(".modal-body #mb-orcid").attr('href', _orcid);
                $(".modal-body #div-mb-orcid").show();
            } else {
                $(".modal-body #div-mb-orcid").hide();
            }
            if (_linkedin) {
                $(".modal-body #mb-linkedin").attr('href', _linkedin);
                $(".modal-body #div-mb-linkedin").show();
            } else {
                $(".modal-body #div-mb-linkedin").hide();
            }

            if (!_lattes && !_researchgate && !_orcid && !_linkedin) {
                $(".modal-body #div-mb-social").hide();
            } else {
                $(".modal-body #div-mb-social").show();
            }
        });

        // Team: Others Informations
        $(document).on("click", ".open-modal_information", function () {
            var _not_registered = "{% trans 'NotReg' %}";
            var _title = $(this).data('title');
            var _icon = $(this).data('icon');
            var _phone = $(this).data('phone');
            var _mobile = $(this).data('mobile');
            var _email = $(this).data('email');
            var _name = $(this).data('name');

            $(".modal-body #biography").text('');

            if (_phone) {
                $(".modal-body #information").text(_phone);
            } else if (_mobile) {
                $(".modal-body #information").text(_mobile);
            } else  if (_email) {
                $(".modal-body #information").text(_email);
            } else {
                $(".modal-body #information").text(_not_registered);
            }

            $(".modal-header #infotitle").text(_title);
            $(".modal-body #infoicon").attr('class', '');
            $(".modal-body #infoicon").attr('class', _icon);
        });
    </script>
{% endblock javascriptplus %}
