{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'RestPs2wrd' %} | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <div class="text-center">
                        <h3 class="text-uppercase mb-4 mt-5">
                            {% trans 'PassResetCompleted' %}
                        </h3>
                    </div>
                    <p>
                        {% trans 'Your password has been reset. Now you can' %}
                        <a href="{% url 'login' %}">{% trans 'Log In' %}</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}