{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'ChanOfPass' %} | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-9 mx-auto">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <h3 class="text-uppercase mb-4 mt-5 mx-auto">{% trans 'ChanOfPass' %}</h3>
                        </div>
                        <p>
                            {% blocktrans %}Please enter your old password for security and enter the new password twice for verification.{% endblocktrans %}
                        </p>
                        {{form.old_password.errors}}
                        <p>
                            <input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="{% trans 'OldPass' %}">
                        </p>
                        {{form.new_password1.errors}}
                        <p>
                            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="{% trans 'NewPass' %}">
                        </p>
                        {{form.new_password2.errors}}
                        <p>
                            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="{% trans 'Confirm password' %}">
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary btn-block col-md-3 mx-auto" value="{% trans 'ChangePass' %}">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}