{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'RestPs2wrd' %} | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    {% if validlink %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <h3 class="text-uppercase mb-4 mt-5">
                                    {% trans 'Enter the new password' %}
                                </h3>
                            </div>
                            <p>
                                {% blocktrans %}MsgNewPasswordToVerify{% endblocktrans %}
                            </p>
                            {{form.new_password1.errors}}
                            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="{% trans 'NewPass' %}"></p>
                            {{form.new_password2.errors}}
                            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="{% trans 'CnfNewPwd' %}"></p>
                            <p><input type="submit" class="btn btn-primary btn-block col-md-2 mx-auto" value="{% trans 'ConfSend' %}"></p>
                        </form>
                    {% else %}
                        <div class="text-center">
                            <h3 class="text-uppercase mb-4 mt-5">
                                {% trans 'PssRstFailed' %}
                            </h3>
                        </div>
                        <p>
                            {% blocktrans %}The password reset link was invalid, probably because it was used before. Request a new password reset{% endblocktrans %}
                            <a href="{% url 'password_reset' %}">{% trans 'here' %}</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}