{% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for select -->
    <link href="{% static 'css/select-css.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <!-- Customizer -->
    <link href="{% static 'css/customizer.css' %}" rel="stylesheet">
    <link href="{% static 'css/global.css' %}" rel="stylesheet">

    <!-- CkEditor -->
    <link href="{% static 'css/custom_ckeditor.css' %}" rel="stylesheet">

    <!-- RemixIcon -->
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!--<link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">-->
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">