{% load i18n %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <!--<div class="intro-lead-in">Bem-vindo</div>-->
                <div class="intro-lead-in"><span class="typed"></span></div>
                <div class="intro-heading">
                    {% trans 'Molecular and Computational Biology of Fungi Laboratory' %}
                </div>
                <a class="btn btn-primary btn-xl2 text-uppercase js-scroll-trigger" href="#section_home">
                    {% trans 'Know more' %}
                </a>
            </div>
        </div>
    </header>