/*----------------------
1. Back to top button
----------------------*/
#back-top {
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 50px;
}
#back-top a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #A9A9B1;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    background: #fed136;
}
/* arrow icon (span tag) */
#back-top i {
    margin-top: 15px;
    font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    #back-top {
        position: fixed;
        bottom: 10px;
        right: 30px;
    }
    #back-top a {
        width: 40px;
        height: 40px;
    }
    #back-top i {
        margin-top: 7px;
        font-size: 20px;
    }
}

/*----------------------
2. NavBar
----------------------*/

.bs-dark .dropdown-menu {
  min-width: 120px;
  padding: 5px 0;
  margin: 0px 0 0;
  background-color: rgb(43, 42, 42);
  /*background-color: #000;*/
  border: 1px solid rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

@media (min-width: 768px) {
    /*.bs-dark .dropdown:hover {background-color: #000;}*/
    .bs-dark .dropdown:hover .dropdown-menu {
      display: block;
    }
    .bs-dark .navbar-form {
      padding:0px;
      width:260px;
      height:32px;
    }
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: rgb(43, 42, 42);*/
  z-index: 1;
}

.dropdown-content a {
  /*background-color: rgb(43, 42, 42);*/
  color: rgb(224, 224, 224);
  font-size: 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fed136;
  text-decoration: none;
}

/*----------------------
3. Papers
----------------------*/

figure {
    position: relative;
    overflow: hidden;
    margin: 15px 1%;
    background: #726FB9;
    text-align: center;
    cursor: pointer;    
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
    background: #000;
    margin-bottom: 30px;
}

figure.effect-bubba img {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 27%; /*30%*/
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-15px,0);
    transform: translate3d(0,-15px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 2.5em; /*20px*/
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,15px,0);
    transform: translate3d(0,15px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*----------------------
4. Carousel-indicators
----------------------*/

/*
.carousel {
    position: relative;
    width: 0; / *200px* /
    height: 0%; / *100px* /
}
*/

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 30px; /*4%*/
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 2px solid #FFF;
    /*background: transparent;*/
    background:  rgb(141, 141, 141);
}

ol.carousel-indicators li.active {
    background: rgb(0, 0, 0);
}

/*----------------------
5. Projects Link
----------------------*/

.links-hover {
    /*position: absolute;*/
    opacity: 0.85;
}

.links-hover:hover {
    width: 128px;
    height: 128px;
    opacity: 1;
    background: #fed136;
    border-radius: 100%;
}

/*----------------------
6. Hover-ZoomIn
----------------------*/

.hover-zoomin a {
    display: block;
    position: relative;
    /*overflow: hidden;*/
}

.hover-zoomin img {
    /*width: 100%;
    height: auto;*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover img {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}

/*----------------------
7. img: center-cropped
----------------------*/

.center-cropped {
    object-fit: cover;
    /*
    object-fit: none;
    object-fit: fill;
    object-fit: contain;
    object-fit: cover;
    object-fit: scale-down;
    */
    object-position: center; /* Center the image within the element */
    width: 450px;
    height: 300px;
}

/*----------------------
8. Profiles & Messages
----------------------*/

.profile-avatar {
    float: left;
    width: 4rem;
    height: 4rem;
}

.profile-data-name {
    font-size: 16px;
    padding-left: 4.5rem;
    padding-top: .4rem;
    /*font-style: italic;*/
    font-weight: bold;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #323233 !important;
}

.profile-data-link {
    font-size: 14px;
    padding-left: 4.5rem;
    padding-top: .4rem;
    /*font-style: italic;*/
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #323233 !important;
}

.avatar-message {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
}

.thread-message {
    max-height: 300px;
    overflow-y: auto;
    padding: 0 0.5em;
}

.mine-message {
    padding: 0 0.5em 0.25em;
    background-color: rgba(230,242,245,.5);
    width: 92%;
    margin-left: 8%;
}

.other-message {
    padding: 0 0.5em 0.25em;
    background-color: #f2f3f5;
    width: 92%;
}

/*----------------------
9. News
----------------------*/

.team-item {
    text-align: center;
    background-color: #fff;
    font-family: "Open Sans", Sans-serif;
}

.team-item h3 {
    padding-top: 15px;
    font-size: 16px;
    /*font-weight: 500;*/
}

.team-item .team-location {
    color: rgb(104, 104, 104);
    font-size: 12px;
    margin-bottom: 20px;
}

.team-item .team-position {
    color: #000;
    font-size: 12px;
}

.team-item p {
    font-size: 13px;
    font-weight: 300;
    color: rgb(80, 80, 80);
    padding: 5px 10px 20px 10px;
}

/*----------------------
10. More
----------------------*/

.img-link {
    height: 42px;
    border: 0;
}

.footer-bottom {
    min-height: calc(100vh - 70px);
}

.footer-bottom-contact {
    margin-top: 65px;
    min-height: calc(100vh - 145px);
}

.paper-logo {
    margin-top: -50px;
    margin-bottom: 30px;
    text-align: center;
}

.paper-logo img {
    width: 170px;
    height: 170px;
    border: 7px solid #ffebab;;
    margin-top: -20px;
}

.text-subtitle {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #707070 !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.white_border {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
}

.item-intro-subtitle1,
.item-intro-subtitle2,
.item-intro-subtitle3 {
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.item-intro-subtitle2 {
    font-weight: bold;
}

.item-intro-subtitle3 {
    font-size: 15px;
}

.hr-separator {
    height: 1px;
    border: none;
    background-color: rgb(230, 224, 224);
    width: 100%;
}

.text-muted-alter {
    color: #414649 !important;
}

.message-success {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #2df02d !important;
}

.img-about {
    width: 250px;
    height: auto;
}

.img-flag-team {
    width: 45px !important;
    height: auto !important;
}

.img-flag-partner {
    width: 35px;
    height: auto;
}

.img-project {
    width:100%
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------------------
Bar chart
----------------------*/
.container-bar-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container-news-title {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container-bar {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

/*----------------------
Protocols
----------------------*/
.panel-title1 {
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Sans-serif;
    border-left: 4px solid #98b3fa; /*f38787 65c465 98b3fa*/
}

.panel-title2 {
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Sans-serif;
    border-left: 4px solid #65c465; /*f38787 65c465 98b3fa*/
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #fafafafb;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*----------------------
Files
----------------------*/
.file-type {
    height:30px;
}

/*--------------------------------------------------------------
# Innovation Section
--------------------------------------------------------------*/
#section_innovation {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
    background: url("../img/biotechnology-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#section_innovation:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#section_innovation .container {
    padding-top: 0px; /*80px;*/
}

#section_innovation .icon-boxes {
    margin-top: 0px; /*100px;*/
}

#section_innovation .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    /*box-shadow: 0 0 29px 0 rgba(10, 83, 136, 0.08);*/
    box-shadow: 0 0 15px 0 #4065839d;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

#section_innovation .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#section_innovation .icon-box .title a {
    color: #124265;
    transition: 0.3s;
}

#section_innovation .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

#section_innovation .icon-box .icon {
    margin-bottom: 15px; /*20px*/
    padding-top: 0px; /*10px*/
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 45px;
    line-height: 1;
    color: #2487ce;
}

#section_innovation .icon-box:hover {
    transform: scale(1.08);
}

#section_innovation .icon-box:hover .title a {
    color: #2487ce;
}

@media (min-width: 1024px) {
    #section_innovation {
        background-attachment: fixed;
    }
}

@media (max-width: 992px), (max-height: 500) {
    #section_innovation {
        height: auto;
    }
    #section_innovation h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #section_innovation h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

/*--------------------------------------------------------------
# Floating icon
--------------------------------------------------------------*/
.floating-icon {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin: 0 auto;
}

.floating-icon:hover {
    transform: scale(1.08);
}

/*--------------------------------------------------------------
# Bootstrap-grid Update
--------------------------------------------------------------*/
.col-md-4_5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-4_5 {
    -ms-flex: 0 0 37.499999%;
    flex: 0 0 37.499999%;
    max-width: 37.499999%;
  }
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table_font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.btn-sm-alt {
    padding: 0rem 0rem;
    line-height: 0;
    border-radius: 0rem;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal_b_text1,
.modal_b_text2,
.modal_b_text3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.modal_b_text2 {
    font-size: 12px;
}

.modal_b_text3 {
    font-weight: bold;
    margin-top: 3px;
}

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.col-1-cus {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.col-1-cus {
    -ms-flex: 0 0 7.3%;
    flex: 0 0 7.3%;
    max-width: 7.3%;
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.icon_academic_fawesome {
    color: #000000;
    font-size: 1.5em;
    margin-top: 2px;
}

.icon_academic {
    width: 1.5em;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.color_success {color: #318b46;}
.color_warning {color: #ebb000;}
.color_danger {color: #db2b3c;}
.color_login {color: #1fc044;}
.color_edit {color: #365481;}
